<robot name="laser_gz_plugin" xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- 雷达 -->
  <!-- 被引用的link -->
  <gazebo reference="laser">
    <!-- 类型设置为 ray ，/${robot_name}/laser 此处定义topic-->
    <sensor type="ray" name="/${robot_name}/laser">
      <alwaysOn>true</alwaysOn>
      <visualize>true</visualize>
      <pose>0 0 0 0 0 0</pose>
      <update_rate>5.5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>10.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>

      <!-- 节点名为${laser_name} -->
      <plugin name="laser" filename="libgazebo_ros_ray_sensor.so">
        <!-- 在使用frame_prefix后必须在这里修改frame，参数位置和名称不能改变 -->
        <frame_name>${robot_name}/laser</frame_name>
        <ros>
          <remapping>~/out:=laser/scan</remapping>  <!-- 实际topic为namespace/laser/scan -->
          <namespace>${robot_name}</namespace>  <!-- 为node和publisher添加namespace -->
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
      </plugin>
    </sensor>
  </gazebo>

</robot>
